# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
anyio
asgiref
#ca-certificates
certifi
click
fastapi
greenlet
h11
idna
#libcxx
#libffi
#ncurses
#openssl
pip
psycopg2-binary
pydantic
python
readline
setuptools
sniffio
sqlalchemy
sqlite
starlette
tk
tzdata
uvicorn
wheel
xz
zlib
