/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-gray-800;
}

a:hover {
    color: unset;
}

.ant-modal-content {
    border-radius: 8px;
}

.ant-modal-header {
    background: transparent;
}

@layer base {
    .markdown-body {
        font-size: 14px;
    }
    .markdown-body ol,
    .markdown-body ul {
        list-style-type: disc;
    }
}
